csharpupdater/bin
csharpupdater/obj
jsupdater/bin/
jsupdater/obj/
ScriptUpdating/bin/
ScriptUpdating/obj/
csharpupdater.sln.DotSettings.user
csharpupdater.v11.suo
IntegrationTests/bin/
IntegrationTests/obj/
JavascriptUpdater/bin/
JavascriptUpdater/obj/
ScriptUpdater/bin/
ScriptUpdater/obj/
